<div class="container mt-5">
  <div class="col-md-4">
    <h3 class="fw-bold text-primary">Your informations</h3>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form-group mb-3">
          <%= f.label :avatar, class: 'form-label' do %>
            <i class="fa-solid fa-user"></i> Avatar
          <% end %>
          <%= f.input :avatar, as: :file, label: false, input_html: { class: 'form-control' }, wrapper: false %>
        </div>

        <div class="form-group mb-3">
          <%= f.label :username, class: 'form-label' do %>
            <i class="fa-solid fa-user"></i> Username
          <% end %>
          <%= f.input :username, label: false, input_html: { class: 'form-control' }, wrapper: false %>
        </div>

        <div class="form-group mb-3">
          <%= f.label :phone, class: 'form-label' do %>
            <i class="fa-solid fa-phone"></i> Phone
          <% end %>
          <%= f.input :phone, label: false, as: :string, input_html: { class: 'form-control' }, wrapper: false %>
        </div>

        <div class="form-group mb-3">
          <%= f.label :email, class: 'form-label' do %>
              <i class="fa-solid fa-envelope"></i> Email
            <% end %>
          <%= f.input :email, required: true, autofocus: true, label: false %>
        </div>

        <div class="form-group mb-3">
          <%= f.label :password, class: 'form-label' do %>
            <i class="fa-solid fa-lock"></i> New password
          <% end %>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      label: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-group mb-3">
          <%= f.label :password, class: 'form-label' do %>
            <i class="fa-solid fa-lock"></i> Confirm your new password
          <% end %>
          <%= f.input :password_confirmation,
                      required: false,
                      label: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-group mb-3">
          <%= f.label :password, class: 'form-label' do %>
            <i class="fa-solid fa-lock"></i> Current password
          <% end %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      label: false,
                      input_html: { autocomplete: "current-password" } %>
        </div>
      </div>

      <div class="form-actions row">
        <div class="col-12">
          <%= f.button :submit, "Update", class: "btn btn-primary primary-gradient btn-lg btn-block mt-3" %>
        </div>
      </div>
    <% end %>
    <!--   AU CAS OU ON VEUT DELETE LE COMPTE VOICI LE BLUEPRINT <h3>Cancel my account</h3>

        <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

        <%= link_to "Back", :back %>
      </div>
    -->
</div>
