<% my_reservations.each do |my_pending| %>
  <div class="notification bg-light rounded">
    <div class="row">
      <div class="col-md-2">
        <p><%= my_pending.user.username %></p>
      </div>
      <div class="col-md-2">
        <p>X people</p>
      </div>
      <div class="col-md-4">
        <p>At <%= my_pending.book_date.strftime("%d/%m/%Y") %></p>
      </div>
      <div class="col-md-2">
        <p><%= my_pending.price %> €</p>
      </div>
      <div class="col-md-2">
        <div class="notification-actions">
          <%= link_to "Accept <i class='fa-solid fa-check'></i>".html_safe, reservation_path(my_pending), data: {turbo_method: 'patch', turbo_confirm: "You really want to accept this offer ?"} %>
          <%= link_to "Refuse <i class='fa-solid fa-xmark'></i>".html_safe, reservation_path(my_pending), data: {turbo_method: 'delete', turbo_confirm: "You really want to delete this offer ?" } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
