<div class="container mt-5">
  <div class="col-md-4">
    <h3 class="fw-bold text-primary">My informations</h3>
    <%= simple_form_for @user, html: { class: 'form-horizontal' } do |f| %>

      <div class="form-group mb-3">
        <%= f.label :username, class: 'form-label' do %>
          <i class="fa-solid fa-user"></i> Username
        <% end %>
        <%= f.input :username, label: false, input_html: { class: 'form-control' }, wrapper: false %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :phone, class: 'form-label' do %>
          <i class="fa-solid fa-phone"></i> Phone
        <% end %>
        <%= f.input :phone, label: false, as: :string, input_html: { class: 'form-control' }, wrapper: false %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :email, class: 'form-label' do %>
          <i class="fa-solid fa-envelope"></i> Email
        <% end %>
        <%= f.input :email, label: false, as: :string, input_html: { class: 'form-control' }, wrapper: false %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :password, class: 'form-label' do %>
          <i class="fa-solid fa-lock"></i> New password
        <% end %>
        <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                label: false,
                input_html: { autocomplete: "new-password" } %>
      <div class="form-group mb-3">
        <%= f.label :password, class: 'form-label' do %>
          <i class="fa-solid fa-lock"></i> Confirm your new password
        <% end %>
        <%= f.input :password_confirmation,
                    label: false,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
      <div class="form-group mb-3">
        <%= f.label :password, class: 'form-label' do %>
          <i class="fa-solid fa-lock"></i> Current password
        <% end %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    label: false,
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="row">
        <div class="col-12">
          <%= f.button :submit, "Validate", class: "btn btn-primary btn-lg btn-block mt-3" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
