<div class="container" data-controller="tabs">
  <div class="my-4">
    <h3>Welcome <strong><%= @user.username %> !</strong></h3>
  </div>

  <ul id="tabs" class="list-inline tabs-underlined">
    <li>
      <a href="#wonders" class="tab-underlined active" data-action="click->tabs#toggle">My wonders</a>
    </li>
    <li>
      <a href="#reservations" class="tab-underlined" data-action="click->tabs#toggle">My reservations</a>
    </li>
  </ul>

  <div id="wonders" class="tab-content">
    <% if @my_wonders.any? %>
      <div class="wonders-list my-5">

        <table class="table table-borderless">
          <thead>
            <tr>
              <th class="font-weight-bold text-secondary">my wonder</th>
              <th class="font-weight-bold text-secondary text-center">price</th>
              <th class="font-weight-bold text-secondary text-center">category</th>
              <th class="font-weight-bold text-secondary text-center"></th>
            </tr>
          </thead>
          <tbody>
            <% @my_wonders.each do |my_wonder| %>
              <tr>
                <td style="vertical-align: middle;">
                  <%= image_tag('thumbnail.jpeg', :class => "notification-photo", style: "width: 100px; float: left; margin-right: 20px;") %>
                  <%= link_to my_wonder.title, wonder_path(my_wonder.id), class: 'text-decoration-none' %>
                  <p class="text-secondary mb-0"><small><%= my_wonder.category %></small></p>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                  <%= my_wonder.price_per_participant %> €
                </td>
                <td class="text-center" style="vertical-align: middle;">
                  <%= my_wonder.category %>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                  <div class="notification-actions">
                    <%= link_to '#', class: 'text-decoration-none action-link' do %>
                      <i class="fas fa-pencil-alt"></i> Edit
                    <% end %>
                    <%= link_to '#', class: 'text-decoration-none action-link' do %>
                      <i class="far fa-trash-alt"></i> Delete
                    <% end %>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="4">
                  <div data-controller="toggle">
                    <button data-action="click->toggle#offer" class="button pb-2 button-with-chevron" data-target="toggle.icon">
                      <i class="fa-solid fa-chevron-down"></i> See offers
                    </button>
                    <div data-toggle-target="togglableElement" class="d-none">
                      <%= render "offer", my_reservations: my_wonder.reservations %>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="4" style="border-top: 1px solid #e0e0e0;"></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
    <% end %>
  </div>

  <div id="reservations" class="tab-content" data-tabs-target="tabContent" style="display: none;">
    <% if @my_reservations.any? %>
      <div class="reservations-list my-5">

        <table class="table table-borderless">
          <thead>
            <tr>
              <th class="font-weight-bold text-secondary">my reservation</th>
              <th class="font-weight-bold text-secondary text-center">date</th>
              <th class="font-weight-bold text-secondary text-center">people</th>
              <th class="font-weight-bold text-secondary text-center">status</th>
              <th class="font-weight-bold text-secondary text-center"></th>
            </tr>
          </thead>
          <tbody>
            <% @my_reservations.each do |reservation| %>
              <tr>
                <td style="vertical-align: middle;">
                  <%= image_tag('thumbnail.jpeg', :class => "notification-photo", style: "width: 100px; float: left; margin-right: 20px;") %>
                  <%= link_to "Reservation ##{reservation.id}", reservation_path(reservation.id), class: 'text-decoration-none' %>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                  <p class="text-secondary mb-0"><small><%= reservation.book_date %></small></p>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                  <p class="text-secondary mb-0"><small><%= reservation.nb_participants %> participants</small></p>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                  <!-- Afficher le statut de la réservation -->
                </td>
                <td class="text-center" style="vertical-align: middle;">
                  <!-- Ajouter des actions pour la réservation, comme modifier ou annuler -->
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>

</div>
