<div class="container">
  <div class="my-4">
    <h3>Welcome <strong><%= @user.username %> !</strong></h3>
  </div>

  <ul id="tabs" class="list-inline tabs-underlined" data-controller="tabs">
    <li>
      <a href="#" class="tab-underlined active" data-action="click->tabs#toggle">My wonders</a>
    </li>
    <li>
      <a href="#" class="tab-underlined" data-action="click->tabs#toggle">My reservations</a>
    </li>
  </ul>

  <% if @my_wonders.any? %>
    <div class="wonders-list my-5">
      <h4>Your wonders</h4>

      <table class="table table-borderless">
        <thead>
          <tr>
            <th class="font-weight-bold text-secondary">my wonder</th>
            <th class="font-weight-bold text-secondary text-center">price</th>
            <th class="font-weight-bold text-secondary text-center">category</th>
            <th class="font-weight-bold text-secondary text-center"></th>
          </tr>
        </thead>
        <tbody>
          <% @my_wonders.each do |my_wonder| %>
            <tr>
              <td style="vertical-align: middle;">
                <%= image_tag('thumbnail.jpeg', :class => "notification-photo", style: "width: 100px; float: left; margin-right: 20px;") %>
                <%= link_to my_wonder.title, wonder_path(my_wonder.id), class: 'text-decoration-none' %>
                <p class="text-secondary mb-0"><small><%= my_wonder.category %></small></p>
              </td>
              <td class="text-center" style="vertical-align: middle;">
                <%= my_wonder.price_per_participant %> €
              </td>
              <td class="text-center" style="vertical-align: middle;">
                <%= my_wonder.category %>
              </td>
              <td class="text-center" style="vertical-align: middle;">
                <div class="notification-actions">
                  <%= link_to edit_wonder_path(my_wonder), class: 'text-decoration-none action-link' do %>
                    <i class="fas fa-pencil-alt"></i> Edit
                  <% end %>
                  <%= link_to wonder_path(my_wonder), data: {turbo_method: 'delete', turbo_confirm: "You really want to delete this wonder !?"}, class: 'text-decoration-none action-link' do %>
                    <i class="far fa-trash-alt"></i> Delete
                  <% end %>
                </div>
              </td>
            </tr>

            <tr>
              <td colspan="4">
                <div data-controller="toggle">
                  <button data-action="click->toggle#offer" class="button pb-2 button-with-chevron" data-target="toggle.icon">
                    <i class="fa-solid fa-chevron-down"></i> See offers
                  </button>
                  <div data-toggle-target="togglableElement" class="d-none">
                    <%= render "offer", my_reservations: my_wonder.reservations %>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td colspan="4" style="border-top: 1px solid #e0e0e0;"></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
