<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <% if user_signed_in? %>
      <li class="nav-item button"><a href="#" class="nav-link px-2 text-muted"><%= link_to "Home", wonders_path %></a></li>
      <li class="nav-item button"><a href="#" class="nav-link px-2 text-muted"><%= link_to "Profile", edit_user_registration_path %></a></li>
      <li class="nav-item button"><a href="#" class="nav-link px-2 text-muted"><%= link_to "Dashboard", user_path(current_user) %></a></li>
      <li class="nav-item button"><a href="#" class="nav-link px-2 text-muted"><%= link_to "New listing", new_wonder_path %></a></li>
    <% else %>
      <li class="nav-item button"><a href="#" class="nav-link px-2 text-muted"><%= link_to "Home", wonders_path %></a></li>
      <li class="nav-item button"><a href="#" class="nav-link px-2 text-muted"><%= link_to "Login", new_user_session_path %></a></li>
    <% end %>
  </ul>
  <p class="text-center text-muted">Made by ❤️ © 2024 Unbelievably</p>
</footer>
