<div class="share-card">
  <div style="display: inline-block; margin-right: 10px;">
    <h2>Share this wonder</h2>
    <p class="button" onclick="navigator.clipboard.writeText('<%= @wonder_url %>')">Copy Link</p>
  </div>

  <div class="share-link my-2">
    <div style="display: flex; align-items: center;">
      <i class="fa-regular fa-envelope details-icon"></i>
      <p class="button m-0"><a href="mailto:?subject=Check out this wonder&body=I thought you might like this wonder: <%= @wonder_url %>">Email</a></p>
    </div>
  </div>

  <div class="share-link my-2">
    <div style="display: flex; align-items: center;">
      <i class="fa-brands fa-whatsapp details-icon"></i>
      <p class="button m-0"><a href="whatsapp://send?text=Check out this wonder: <%= @wonder_url %>">WhatsApp</a></p>
    </div>
  </div>

  <div class="share-link my-2">
    <div style="display: flex; align-items: center;">
      <i class="fa-brands fa-facebook-messenger details-icon"></i>
      <p class="button m-0"><a href="fb-messenger://share/?link=<%= @wonder_url %>">Messenger</a></p>
    </div>
  </div>

  <div class="share-link my-2">
    <div style="display: flex; align-items: center;">
      <i class="fa-brands fa-instagram details-icon"></i>
      <p class="button m-0"><a href="https://www.instagram.com/create/post/?url=<%= @wonder_url %>">Instagram</a></p>
    </div>
  </div>
</div>
