<% reservations.each do |reservation| %>
  <div class="notification bg-light rounded">
    <div class="row w-100 d-flex align-items-center">
      <div>
        <div class="d-flex align-item-strech">
          <%= cl_image_tag(reservation.user.avatar.key, class: "avatar me-2") %>
          <p><%= reservation.user.username %></p>
        </div>
      </div>
      <div class="mb-1">
        <p class="fs-6">Quantity: <strong><%= reservation.nb_participants %></strong></p>
      </div>
      <div class="mb-1">
        <p class="fs-6">Date: <strong><%= reservation.book_date.strftime("%d/%m/%Y") %></strong></p>
      </div>
      <div class="mb-1">
        <p class="fs-6">Total: <strong><%= reservation.price %> €</strong></p>
      </div>
      <div class="col-md-auto">
      <% if reservation.accepted %>
        <div class="d-flex">
        <p class="text-success">Accepted</p>
        <div class="notification-actions">
          <%= link_to "Cancel <i class='fa-solid fa-xmark ms-2'></i>".html_safe,
              reservation_path(reservation),
              class: "align-items-center d-flex badge text-bg-danger text-light",
              data: {
                turbo_method: 'delete',
                turbo_confirm: "You really want to cancel this reservation ?"
              } %>
          </div>
        </div>
      <% else %>
        <div class="d-flex">
          <p class="text-warning">Pending</p>
          <div class="notification-actions">
            <%= link_to "Accept <i class='fa-solid fa-check ms-2'></i>".html_safe,
                        reservation_path(reservation),
                        class: "align-items-center d-flex badge text-bg-success text-light",
                        data: {
                          turbo_method: 'patch',
                          turbo_confirm: "You really want to accept this reservation ?"
                        } %>
            <%= link_to "Refuse <i class='fa-solid fa-xmark ms-2'></i>".html_safe,
                        reservation_path(reservation),
                        class: "align-items-center d-flex badge text-bg-danger text-light",
                        data: {
                          turbo_method: 'delete',
                          turbo_confirm: "You really want to refuse this reservation ?"
                        } %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
