<%= render "shared/banner" %>
<div class="container">
  <div class="cards mt-4">
    <% @wonders.each do |wonder| %>
    <div class="card-wonder">
      <%= image_tag('thumbnail.jpeg') %>
      <div class="card-wonder-infos">
        <div>
          <div class="class text-decoration-none">
            <h2><%= link_to wonder.title, wonder_path(wonder) %></h2>
          </div>
          <p><%= wonder.content %></p>
          <p><%= wonder.location %></p>
          <p><%= wonder.category %></p>
        </div>
        <h2 class="card-wonder-pricing"><%= wonder.price_per_day  %></h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-wonder-user avatar-bordered" />
      </div>
    </div>
    <% end %>
  </div>
</div>
