<div class="container mt-5">
  <div class="row">
    <div class="col-md-7 col-12">
        <h2>Why Post Your Listing on Unbelievably?</h2>
        <p>Listing with Unbelievably means connecting your unique and magical experiences with an eager audience. Whether you're offering an enchanted treehouse stay, a day with mythical creatures, or a magical potion workshop, our platform is the perfect place to share your passion.</p>
        <h3>Reach Enthusiastic Explorers</h3>
        <p>Our community is on a constant quest for wonder and inspiration. By showcasing your offering on Unbelievably, you tap into a market of adventure seekers, increasing your booking chances and success.</p>
        <h3>Easy and Secure</h3>
        <p>Our platform makes listing and managing your offerings a breeze. With intuitive tools and enhanced security, you can focus on what you do best, supported by our dedicated team every step of the way.</p>
        <p>Don't wait to share your wonderous world on Unbelievably. Join us on this adventure today.</p>
  </div>
  <div class="col-md-4">
    <h3 class="fw-bold text-primary">Start Your Magical Journey</h3>
    <%= simple_form_for @wonder, html: { class: 'form-horizontal' } do |f| %>

      <!-- Title Field -->
      <div  class="form-group mb-3">
        <%= f.label :title, class: 'form-label' do %>
          <i class="fa fa-tag"></i> Title
          <small>(The name of your wonder)</small>
        <% end %>
        <%= f.input :title, label: false, placeholder: 'Magical Treehouse, Enchanted Night...', input_html: { class: 'form-control' }, wrapper: false %>
      </div>

      <!-- Price Per Day Field -->
      <div data-controller="range" class="form-group mb-3">
        <%= f.label :price_per_participant, class: 'form-label' do %>
          <i class="fa fa-dollar-sign"></i> Price / Day
          <small>(How much does it cost per day?)</small>
        <% end %>
        <%=  f.input :price_per_participant, as: :range, label: false, input_html: { class: 'form-control', min: 10, max: 1000, value: 1, data: { action: "input->range#performValueFromNew"} } %>
        <span data-range-target="valueDisplayFromNew"> 10 €  </span>
      </div>

      <!-- Category Field -->
      <div class="form-group mb-3">
        <%= f.label :category, class: 'form-label' do %>
          <i class="fa fa-cogs"></i> Category
          <small>(The category of your wonder)</small>
        <% end %>
        <%= f.input :category, label: false, placeholder: 'Adventure, Mystery...', input_html: { class: 'form-control' }, wrapper: false %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :location, class: 'form-label' do %>
          <i class="fa fa-map-marker-alt"></i> Location
          <small>(Where is your wonder located?)</small>
        <% end %>
        <%= f.input :location,
            input_html: {data: {location_autocomplete_target: "location"}, class: "d-none" },
            label: false,
            wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
        %>
      </div>

      <!-- Details/Content Field -->
      <div class="form-group mb-3">
        <%= f.label :content, class: 'form-label' do %>
          <i class="fa fa-align-left"></i> Details
          <small>(Describe what makes your wonder special)</small>
        <% end %>
        <%= f.input :content, label: false, placeholder: 'The essence of your wonder...', as: :text, input_html: { class: 'form-control', rows: 4 }, wrapper: false %>
      </div>

      <!-- Photos Field -->
      <div class="form-group mb-3">
        <%= f.label :content, class: 'form-label' do %>
          <i class="fa fa-image"></i>
        <% end %>
        <%= f.input :photos, as: :file, input_html: { class: 'form-control', rows: 4, multiple: true }, wrapper: false %>
      </div>

      <div class="row">
        <div class="col-12">
          <%= f.button :submit, "Send Live", class: "btn btn-primary btn-lg btn-block mt-3" %>
        </div>
      </div>

    <% end %>
  </div>
  </div>
</div>
