<div class="container">

  <div class="intro pt-3">
    <h1><%= @wonder.title %></h1>
  </div>

  <div class="image-container py-3">
    <div class="img-fluid" alt="Responsive image">
      <%= image_tag('thumbnail.jpeg') %>
    </div>
  </div>

    <div class="principal-infos d-flex align-items-center justify-content-between pt-2">
      <h2><%= @wonder.category %> - <%= @wonder.location %></h2>
      <div class=" buttons-container d-flex justify-content-end">
        <p class="button">Share</p>
        <p class="button">Save</p>
      </div>
    </div>

  <div class="d-flex">
    <div class="col-md-8">
      <div class="infos-container ml-8">

        <div class="user d-flex align-items-center py-3">
          <div class="avatar-pic">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-show" />
          </div>
          <div class="user-details">
            <p class="user-name mb-1 pl-1">User : <strong><%= @wonder.user.username %></strong></p>
            <p class="button text-secondary mb-1">Send a message</p>
          </div>
        </div>

        <div class="border" style="border-top-color: rgb(221, 221, 221); border-top-width: 0.5px;"></div>

        <div class="description py-4 d-flex align-items-center">
          <i class="fas fa-pen-to-square details-icon"></i>
          <div class="flex-grow-1">
            <%= @wonder.content %>
          </div>
        </div>

        <div class="border" style="border-top-color: rgb(221, 221, 221); border-top-width: 0.5px;"></div>

        <p class="button mt-3"><%= link_to "Back to all wonders", wonders_path %></p>

      </div>
    </div>

    <div class="col-md-4">
      <div class="booking-container p-4">

        <div class="price d-flex align-items-center">
          <i class="fa-solid fa-tag details-icon"></i>
            <p class="mb-0"><strong><%= @wonder.price_per_day %>€</strong> per day</p>
        </div>

        <p class="mt-3"><I>Insert calendar</I></p>
           <div class="card p-3 shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title rounded">
                <strong><%= @wonder.price_per_day %></strong> € par nuit
              </h5>
              <%=  simple_form_for [@wonder, @reservation], data: {controller: "datepicker"} do |f| %>
                <%= f.input :start_date,
                            as: :string,
                            input_html: { data: { datepicker_target: "startDates" } },
                            label: false,
                            placeholder: 'Date de début' %>
                <%= f.input :end_date,
                            as: :string,
                            input_html: { data: { datepicker_target: "endDates" } },
                            label: false,
                            placeholder: 'Date de fin'
                             %>
                 <%= f.button :submit, 'Reserver', class: "btn btn-primary" %>
              <% end %>
              <hr>
              </div>
          </div>

          <!-- Il est préférable de placer les liens CSS dans le <head>, mais pour cet exemple, je le laisse ici pour contexte -->
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

        <div class="book-btn py-4">
          <p class="button">✨ Book this wonder ✨</p>
        </div>

      </div>
    </div>

  </div>
</div>



<%# à côté : module de réservations %>

<%# afficher le calendrier de dispos %>

<%# intégrer une map ? %>

<%# Autres possibilités de wonders dans le même lieu %>
