<div class="container mt-5">
  <div class="col-md-4">
    <h3 class="fw-bold text-primary">Start Your Magical Journey</h3>
    <%= simple_form_for @reservation, data: {controller: "datepicker"}, html: { class: 'form-horizontal' } do |f| %>

      <!-- Price Per Day Field -->
      <div class="form-group mb-3">
        <%= f.label :nb_participants, class: 'form-label' do %>
          <i class="fa-solid fa-people-group"></i>Change your number of participants ?
        <% end %>
        <%= f.input :nb_participants, label: false, as: :float, input_html: { class: 'form-control' }, wrapper: false %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :book_date, class: 'form-label' do %>
          <i class="fa-solid fa-calendar"></i> Book a new date ?
        <% end %>
        <%= f.input :book_date, label: false, as: :date, input_html: { data: { datepicker_target: "book_date" }, class: 'form-control' }, wrapper: false %>
      </div>

      <div class="row">
        <div class="col-12">
          <%= f.button :submit, "Update your reservation !", class: "btn btn-primary btn-lg btn-block mt-3" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
